In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_key import gkey

In [4]:
# Load the csv exported in Part I to a DataFrame
weather_data_csv = pd.read_csv('../WeatherPy/weather_data.csv')

weather_data_csv.head()

,Unnamed: 0,City,Max_Temp,Humidity,Cloudiness,Wind_Speed,Latitude,Longitude
0,0,Sibu,30.00,74,40,2.06,2.3000,111.8167
1,1,Āgaro,16.16,98,100,0.42,7.8500,36.6500
2,2,Vitim,2.08,98,100,4.72,59.4511,112.5578
3,3,East London,19.77,46,86,4.13,-33.0153,27.9116
4,4,Jamestown,1.11,86,40,4.63,42.0970,-79.2353

In [ ]:
# Humidity Heat Map
# Configure gmaps.
# Use the Lat and Lng as locations and Humidity as the weight.
# Add Heatmap layer to map.

In [8]:
# create locations data frame for heat map; use latitude and longitude
locations_df = weather_data_csv[['Latitude','Longitude']]
locations_df.head()

   Latitude  Longitude
0    2.3000   111.8167
1    7.8500    36.6500
2   59.4511   112.5578
3  -33.0153    27.9116
4   42.0970   -79.2353

In [9]:
# create weight data frame for heat map; use Humidity
weight_df = weather_data_csv['Humidity']
weight_df.head()

0    74
1    98
2    98
3    46
4    86
Name: Humidity, dtype: int64

In [15]:
# plot heatmap
map_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}

# Use the gmaps.figure passing a zoom_level of 2 and a center point so the map displays properly at a readable size
fig = gmaps.figure(layout=map_layout,zoom_level=2,center=(15,25))
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations_df, weights=weight_df, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1.5)

# Add heat layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [27]:
# Narrow down the DataFrame to find your ideal weather condition. For example:
# A max temperature lower than 5 degrees but higher than -5.
# Wind speed less than 5 mph.
# <20 cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
chosen_weather_conditions_df = weather_data_csv[(weather_data_csv['Max_Temp'] <= 5) & (weather_data_csv['Max_Temp'] >= 5)]
chosen_weather_conditions_df = weather_data_csv[weather_data_csv['Wind_Speed'] <= 5]
chosen_weather_conditions_df = weather_data_csv[weather_data_csv['Cloudiness'] <= 20]
chosen_weather_conditions_df = weather_data_csv[weather_data_csv['Humidity'] <= 15]
sample = chosen_weather_conditions_df
sample

,Unnamed: 0,City,Max_Temp,Humidity,Cloudiness,Wind_Speed,Latitude,Longitude
81,81,Arlit,30.81,10,17,4.29,18.7369,7.3853
118,118,Bahawalpur,33.01,11,0,3.63,29.4000,71.6833
188,188,Pishin,22.36,12,0,0.21,30.5803,66.9961
212,212,Saint George,22.00,15,1,2.57,37.1041,-113.5841
363,363,Taoudenni,30.02,15,8,2.98,22.6783,-3.9836
445,445,Englewood,21.67,11,40,7.20,39.6478,-104.9878
447,447,Port Hedland,32.00,12,0,9.77,-20.3167,118.5667
451,451,Dhadar,31.52,5,0,1.16,28.3305,75.0632
455,455,Saurikh,33.34,7,0,2.76,27.0290,79.4896
485,485,Fatehpur,33.86,9,54,3.29,25.9333,80.8000
517,517,Dongsheng,9.27,12,4,10.64,39.8161,109.9776
550,550,Shache,18.64,15,0,2.78,38.4167,77.2406