In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_key import gkey

In [2]:
# Load the csv exported in Part I to a DataFrame
weather_data_csv = pd.read_csv('../WeatherPy/weather_data.csv')

weather_data_csv.head()

,Unnamed: 0,City,Max_Temp,Humidity,Cloudiness,Wind_Speed,Latitude,Longitude
0,0,Sibu,30.00,74,40,2.06,2.3000,111.8167
1,1,Āgaro,16.16,98,100,0.42,7.8500,36.6500
2,2,Vitim,2.08,98,100,4.72,59.4511,112.5578
3,3,East London,19.77,46,86,4.13,-33.0153,27.9116
4,4,Jamestown,1.11,86,40,4.63,42.0970,-79.2353

In [3]:
# Humidity Heat Map
# Configure gmaps.
# Use the Lat and Lng as locations and Humidity as the weight.
# Add Heatmap layer to map.

In [4]:
# create locations data frame for heat map; use latitude and longitude
locations_df = weather_data_csv[['Latitude','Longitude']]
locations_df.head()

   Latitude  Longitude
0    2.3000   111.8167
1    7.8500    36.6500
2   59.4511   112.5578
3  -33.0153    27.9116
4   42.0970   -79.2353

In [5]:
# create weight data frame for heat map; use Humidity
weight_df = weather_data_csv['Humidity']
weight_df.head()

0    74
1    98
2    98
3    46
4    86
Name: Humidity, dtype: int64

In [7]:
# plot heatmap
map_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'}

# Use the gmaps.figure passing a zoom_level of 2 and a center point so the map displays properly at a readable size
fig = gmaps.figure(layout=map_layout,zoom_level=2,center=(15,25))
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations_df, weights=weight_df, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1.5)

# Add heat layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [17]:
# Narrow down the DataFrame to find your ideal weather condition. For example:
# A max temperature lower than 5 degrees but higher than -5.
# Wind speed less than 5 mph.
# <20 cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
chosen_weather_conditions_df = weather_data_csv[(weather_data_csv['Max_Temp'] <= 15) & (weather_data_csv['Max_Temp'] >= -5)]
chosen_weather_conditions_df = chosen_weather_conditions_df[chosen_weather_conditions_df['Wind_Speed'] <= 5]
chosen_weather_conditions_df = chosen_weather_conditions_df[chosen_weather_conditions_df['Cloudiness'] <= 20]
chosen_weather_conditions_df = chosen_weather_conditions_df[chosen_weather_conditions_df['Humidity'] <= 50]
chosen_weather_conditions_df

,Unnamed: 0,City,Max_Temp,Humidity,Cloudiness,Wind_Speed,Latitude,Longitude
24,24,Bethel,13.00,50,1,2.06,41.3712,-73.4140
27,27,Sitka,13.00,47,1,2.57,57.0531,-135.3300
84,84,Walla Walla,14.00,35,1,2.57,46.0646,-118.3430
100,100,Megion,6.00,45,0,4.00,61.0296,76.1136
330,330,Vostok,8.44,26,9,4.26,46.4856,135.8833
331,331,Terrace,15.00,21,1,3.09,54.5163,-128.6035
336,336,Belyy Yar,8.00,39,0,2.00,53.6039,91.3903
337,337,Union,15.00,50,1,1.54,40.6334,-74.2663
369,369,Ketchikan,13.00,50,1,2.57,55.3422,-131.6461
370,370,Ol'ga,12.31,29,4,3.44,43.7444,135.2892
388,388,Haines Junction,12.00,24,0,3.09,60.7522,-137.5108
559,559,Sosnovoborsk,8.00,49,0,4.00,56.1325,93.3589